<h1>Listagem de Carros</h1>

<%= link_to 'Novo Carro', new_admin_car_path, class: "btn btn-primary btn-large btn-block" %>

<br>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Marca</th>
      <th>Nome</th>
      <th colspan="3">Opções</th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.mark.name %></td>
        <td><%= car.name %></td>
        <td><%= link_to 'Exibir', [:admin, car] %></td>
        <td><%= link_to 'Editar', edit_admin_car_path(car) %></td>
        <td><%= link_to 'Deletar', [:admin, car], method: :delete, data: { confirm: 'Deseja deletar o registro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


