<h1>Listagem de Marcas</h1>

<%= link_to 'Nova Marca', new_admin_mark_path, class: "btn btn-primary btn-large btn-block" %>

<br />

<table class="table table-striped">
  <thead>
    <tr>
      <th>Marca</th>
      <th colspan="3">Opções</th>
    </tr>
  </thead>

  <tbody>
    <% @marks.each do |mark| %>
      <tr>
        <td><%= image_tag (mark.assets.first.asset.url(:thumb)), class: "img-thumbnail" if mark.assets.present? %></td>
        <td><%= link_to 'Exibir', [:admin, mark] %></td>
        <td><%= link_to 'Editar', edit_admin_mark_path(mark) %></td>
        <td><%= link_to 'Deletar', [:admin, mark], method: :delete, data: { confirm: 'Deseja deletar o registro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

