
<p>
  <strong>Mark:</strong>
  <%= @mark.name %>
  <br />
  <%= image_tag @mark.assets.first.asset.url(:medium) if @mark.assets.present? %> 
</p>


<div class="form-actions">
  <%= link_to 'New', new_admin_mark_path, :class => 'btn btn-primary' %>
  <%= link_to 'Edit', edit_admin_mark_path(@mark), :class => 'btn' %>
  <%= link_to 'Back', admin_marks_path, :class => 'btn' %>
</div>

<hr>

<h3>Products</h3>

<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
  <% @mark.products.each do |product| %>
    <%= link_to image_tag(product.assets.first.asset.url(:thumb)), product_path(product), data: {:toggle=>"modal", :gallery => "gallery"} if product.assets.present? %>
  <% end %>
</div>