<%= form_for [:admin, @product], :html => { multipart: true, class: "form-horizontal" }  do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <fieldset>

    <legend></legend>

    <div class="control-group">
      <%= f.label :mark, "Marca", class: 'control-label' %>
      <div class="controls">
        <%= f.collection_select(:mark_id, Mark.order('name'), :id, :name, include_blank: true) %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :category, "Categoria", class: "control-label" %>
      <div class="controls">
        <%= f.collection_select(:category_id, Category.order('name'), :id, :name, include_blank: true) %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :name, "Nome", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :name, class: 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :side, "Lado",class: "control-label" %>
      <div class="controls">
        <label class="radio">
          <%= f.radio_button :side, "left", :value => 0 %>
          Esquerdo
        </label>
        <label class="radio">
          <%= f.radio_button :side, "rigth", :value => 1 %>
          Direito
        </label>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :image, "Imagem", class: 'control-label' %>
      <div class="controls">
        <%= f.fields_for :assets do |asset_field| %>
          <% if asset_field.object.new_record? %>
            <p><%= asset_field.file_field :asset %></p>
          <% end %>
        <% end %>

        <%= f.fields_for :assets do |asset_field| %>
          <% unless asset_field.object.new_record? %>
            <p>
              <%= link_to image_tag(asset_field.object.asset.url(:thumb)), "#modalProduct", data: {:toggle=>"modal"} %> 
              <%= asset_field.check_box :_destroy, :label => "Deletar"  %>
            </p>
          <% end %>
          
          <div id="modalProduct" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel"><%#= f.object.name.upcase %></h3>
            </div>
            <div class="modal-body">
              <p> <%#= image_tag (asset_field.object.asset.url(:original)) %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit 'Salvar', class: 'btn btn-primary' %>
      <%= link_to 'Cancelar', admin_products_path, class: 'btn' %>
    </div>

  </fieldset>

<% end %>
