<p>
  <strong>Marca:</strong>
  <%= @product.mark.name %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @product.category.name %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Lado:</strong>
  <%= @product.side_string %>
</p>

<p>
  <%= image_tag  @product.assets.first.asset.url(:medium) if @product.assets.present? %>
  </p>

<div class="form-actions">
  <%= link_to "Novo", new_admin_product_path, class: 'btn btn-primary'  %>
  <%= link_to 'Editar', edit_admin_product_path(@product), class: 'btn'  %> 
  <%= link_to 'Voltar', admin_products_path, class: 'btn'  %>
</div>

<div class="input-block-level">
  <%= link_to "Estou interessado", new_contact_path(product: @product), class: 'btn btn-success' %>
</div>


