<!DOCTYPE html>
<html>
<head>
  <title>Expedicionários Peças</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    home_path %></li>
          <li><%= link_to "Empresa", empresa_path %></li>
          <li id="fat-menu" class="dropdown">
            <%# menu_estoque = "Estoque" + content_tag(:b, "", class: "caret") %>
            <%= link_to "Estoque", "#", class: "dropdown-toggle", data: { toggle: "dropdown" }%>

              <ul class="dropdown-menu">
                <li><%= link_to "Category", admin_categories_path %></li>
                <li><%= link_to "Mark", admin_marks_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Product", admin_products_path %></li>
                <li><%= link_to "Car", admin_cars_path %></li>
              </ul>
            </li>
          <li><%= link_to "Contato", new_contact_path %></li>
          <% if logged_in? %>
            <li><%= link_to "Logout", signout_path, method: "delete" %></li>
          <% end  %>
        </ul>
      </nav>
    </div>
  </div>
</header>


<div id="main" role="main">
      <div class="container">
        <div class="content">

          <%= image_tag("ligue-1212x180-cinza.jpg")  %>

          <%= form_tag "", method: :get, class: "form-wrapper cf" do %>
            <%= label_tag :search, "what you looking for?" %>
            <%= text_field_tag :search, params[:search],  placeholder: "Fazer a busca funcionar...", required: true %>
            <%= button_tag "Search" %>
          <% end %>

           <div class="row">
            <div class="span12">
              <%= render 'shared/error_messages' %>
              <%= yield %>
            </div>
          </div>
<!--        
          <footer>
          </footer>
 -->        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->

<footer>

  <div id="footer">
    <p class="left">Left aligned text here<br />Next line here </p>
    <p class="right">Av. dos Expedicionários (Bernardo Manuel), 10935 <br />
                     Itapery - Fortaleza - Ceará <br />
                     Fone: (85) 3291.4423
    </p>
    <p class="center">Center Text here<br />Next line here </p>
  </div>  
  
</footer>

</body>
</html>
